.list {
  list-style: none;
  text-align: center;
}

.item {
  padding: 8px 16px;

  font-size: 18px;

  background-color: #9999bb;
  cursor: grab;
  user-select: none;
}

.item:hover {
  background-color: #9999ee;
}

.item.clicked:hover {
  cursor: grabbing;
}
